################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wanda.Games.TicTacToe/.vs/Wanda.Games.TicTacToe
/Wanda.Games.TicTacToe/Wanda.Games.TicTacToe.API/bin/Debug/netcoreapp3.1
/Wanda.Games.TicTacToe/Wanda.Games.TicTacToe.API/obj
